---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const allShips = await getCollection("ships");
---

<Layout pageTitle="Owned Ships" descriptions="All ship certificates for ships enigmalea has purchased from Robinboob.">
  <h1>Owned Ships</h1>

  <p>
    Below are the ships I've purchased from <a href="https://www.robinboob.com/"
      >RobinBoob</a
    >. They're mine and only mine*!
  </p>

  <p class="text-sm text-subtext0">
    *This is a joke, but RobinBoob isn't. Check it out to get your own ship
    certificates and support <a href="http://fujocoded.com">FujoCoded, LLC</a> a
    small business focused on making the internet a better place for fandom.
  </p>

  {
    allShips.map((ship) => (
      <div>
        <Image
          src={ship.data.image}
          alt={`Robinboob Certificate of Ownership for ${ship.data.ship}`}
          format="png"
          quality={50}
          class="mb-2 rounded"
          loading="lazy"
        />
        <span class="block text-center text-xl text-sky">
          {ship.data.fandom}
        </span>
        <span class="block text-center text-lg text-text">
          {ship.data.ship}
        </span>
        <span class="text-mono block text-center text-lg italic text-overlay1">
          {ship.data.credits}
        </span>
      </div>
    ))
  }
</Layout>
