---
import PostCard from "./PostCard.astro";

const { page } = Astro.props;
---

<div
  class="mb-4 flex flex-col py-1"
>
  {
    page.data.map(
      (post: {
        data: {
          draft: boolean;
          title: string;
          tags: string[];
          category: string[];
          published: Date;
          image: string;
          description: string;
          updated: Date;
        };
        id: string;
      }) => {
        return (
          <PostCard
					  post={post}
            id={post.id}
            title={post.data.title}
            tags={post.data.tags}
            category={post.data.category}
            published={post.data.published}
            updated={post.data.updated}
            description={post.data.description}
            draft={post.data.draft}
          />
        );
      }
    )
  }
</div>
