---
import type { ImageMetadata } from "astro";

interface Props {
  fandom: string;
  ship: string;
  image: ImageMetadata;
  credits: string;
}

const props = Astro.props;

const altText: string = `Robinboob Certificate of Ownership for ${props.ship}`;
---

<img
  src={props.image.src}
  alt={altText}
  class="transition-all duration-300 ease-in-out"
/>
<span class="block text-center text-xl text-sky">{props.fandom}</span>
<span class="block text-center text-lg text-text">{props.ship}</span>
<span class="text-mono block text-center text-lg italic text-overlay0"
  >{props.credits}</span
>
