---
import { render } from "astro:content";
import { Icon } from "astro-icon/components";

interface Props {
  id: string;
  url: string;
  post: any;
  class?: string;
  title: string;
  published: Date;
  updated?: Date;
  tags: string[];
  category: string[];
  description: string;
  draft: boolean;
}
const { url, post, title, published, updated, tags, category, description } =
  Astro.props;

const { remarkPluginFrontmatter } = await render(post);
---

<div class="mb-5 rounded-3xl bg-crust p-4">
  <a href={url} class="no-underline">
    <h2 class="m-0 p-2 leading-none hover:text-rosewater hover:underline">
      {title}
    </h2>
  </a>
  <div class="flex flex-wrap items-center gap-4 gap-x-4 gap-y-2">
    <div class="m-0 w-fit rounded bg-surface0 p-2 text-teal">
      <Icon name="lucide:calendar" class="text-lg" />
    </div>
    {
      published.toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }

    {
      updated &&
        (<div class="m-0 w-fit rounded bg-surface0 p-2">
          <Icon name="lucide:calendar-clock" class="text-lg text-sky" />
        </div>)(updated).toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
    }

    <div class="m-0 w-fit rounded bg-surface0 p-2">
      <Icon name="lucide:book-marked" class="text-lg text-mauve" />
    </div>
    <div class="flex flex-row flex-nowrap items-center">
      {
        category && category.length > 0 ? (
          category.map((cat, i) => (
            <div class="!inline-flex items-center">
              <div
                class:list={[
                  { hidden: i == 0 },
                  "mx-1.5 text-sm text-surface2",
                ]}
              >
                /
              </div>
              <a
                href={`/blog/categories/${cat}`}
                class="whitespace-nowrap rounded-md p-1 no-underline transition hover:bg-surface0"
              >
                {cat}
              </a>
            </div>
          ))
        ) : (
          <div class="text-50 text-sm font-medium transition" />
        )
      }
    </div>

    <div class="mt-1 w-fit rounded bg-surface0 p-2">
      <Icon name="lucide:hash" class="text-lg text-flamingo" />
    </div>
    <div class="flex flex-row flex-nowrap items-center">
      {
        tags && tags.length > 0
          ? tags.map((tag, i) => (
              <div class="!inline-flex items-center">
                <div
                  class:list={[
                    { hidden: i == 0 },
                    "mx-1.5 text-sm text-surface2",
                  ]}
                >
                  /
                </div>
                <a
                  href={`/blog/tags/${tag}`}
                  class="whitespace-nowrap rounded-md p-1 no-underline transition hover:bg-surface0"
                >
                  {tag}
                </a>
              </div>
            ))
          : !(tags && tags.length > 0) && (
              <div class="text-50 text-sm font-medium transition" />
            )
      }
    </div>
  </div>

  <div class="my-3.5 line-clamp-2 pr-4 transition md:line-clamp-1">
    {description}
  </div>

  <div
    class="flex flex-wrap items-center gap-x-4 gap-y-2 text-sm text-surface2"
  >
    <div>
      {
        remarkPluginFrontmatter.words === 1
          ? remarkPluginFrontmatter.words + " word"
          : remarkPluginFrontmatter.words + " words"
      }
    </div>
    <div>|</div>
    <div>
      {
        remarkPluginFrontmatter.minutes === 1
          ? remarkPluginFrontmatter.minutes + " minute"
          : remarkPluginFrontmatter.minutes + " minutes"
      }
    </div>
  </div>
</div>
