---
import "@fontsource/unica-one";
import "@fontsource/atkinson-hyperlegible";
import "@fontsource/monaspace-neon";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CornerBuddy from "../components/CornerBuddy.astro";

const { pageTitle, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Canonical URL -->
    <link rel="canonical" href={Astro.url.toString()} />

    <!-- MetaData -->
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#a6da95" />
    <meta name="author" content="enigmalea" />
    <meta
      name="title"
      content={pageTitle ? `${pageTitle} ★ enigmalea` : "enigmalea"}
    />
    <meta name="description" content={description ? `${description}` : ""} />

    <!-- OG Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content={pageTitle ? `${pageTitle} ★ enigmalea` : "enigmalea"}
    />
    <meta property="og:url" content={Astro.url.toString()} />
    <meta
      property="og:description"
      content={description ? `${description}` : ""}
    />
    <meta property="og:site_name" content="enigmalea" />
    <meta
      property="og:image"
      content={new URL("/assets/img/enigmalea.png", Astro.site)}
    />
    <meta
      property="og:image:secure_url"
      content={new URL("/assets/img/enigmalea.png", Astro.site)}
    />
    <meta property="og:image:type" content="image/png" />

    <!-- Twitter Tags -->
    <meta property="twitter:domain" content="https://enigmalea.quest" />
    <meta property="twitter:url" content={Astro.url.toString()} />
    <meta
      name="twitter:title"
      content={pageTitle ? `${pageTitle} ★ enigmalea` : "enigmalea"}
    />
    <meta
      name="twitter:description"
      content={description ? `${description}` : ""}
    />

    <!-- Title -->
    <title>{pageTitle ? `${pageTitle} ★ enigmalea` : "enigmalea"}</title>
  </head>
  <body
    class="h-screen cursor-coffee bg-base prose-a:cursor-coffee prose-a:hover:cursor-coffee_select"
  >
    <Navbar />
    <Header />
		<CornerBuddy />
    <main
      class="prose mx-auto w-[95vw] px-3 pb-14 prose-headings:font-mono md:max-w-[800px]"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  a:any-link {
    cursor: url("/images/coffee.cur"), url("/images/coffee.png"), auto !important;
  }

  a:hover {
    cursor: url("/images/coffee_select.cur"), url("/images/coffee_select.png"),
      auto !important;
  }
</style>
